/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.kode-mono-font {
  font-family: "Kode Mono", "Courier New", "Lucida Console", monospace;
  font-optical-sizing: auto;
  /* 
font-weight: Use a value from 400 to 700
*/
  font-weight: 500;
  font-style: normal;
}

/* General Styles */

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  width: 100%;
  padding: 0;
  height: 100vh;
}

h1 {
  margin: 0px auto;
}

button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: black 2px solid;

  transition: background-color 0.5s;
}

button:hover {
  background-color: rgb(167, 167, 167);
}

.hidden {
  display: none;
}
/* Sample Website */

/* Chatbot popup */
#popup-open {
  width: 100px;
  height: 50px;
  color: wheat;
  background-color: black;
  position: fixed;
  bottom: 20px;
  border-radius: 10px;

  right: 20px;
}
.container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  padding: 15px;
  border: black 4px solid;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

#chat-box {
  border: black 2px solid;
  padding: 10px;
  height: 300px;
  margin-top: 10px;
  overflow-y: scroll;
  border-radius: 6px;
  margin-bottom: 10px;
  text-align: left;
}
#chat-box div {
  font-family: "Lato", "Helvetica Neue", "Arial", "Segoe UI", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.15em;
}

/* Input Styles */

#chat-input {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
#chat-input input {
  border: black 2px solid;
  border-radius: 6px;
  width: 100%;
}
#buttons {
  display: flex;
}
#buttons button {
  margin-left: 10px;
}
#text-input {
  padding: 10px;
}

.payment-container {
  margin-top: 20px;
  display: none;
}

#amount {
  width: calc(100% - 90px);
  padding: 10px;
  margin-right: 10px;
}

/* Floating Icon */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  display: none;
  height: 70px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.floating-button:hover {
  background-color: #218838;
}
