/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.kode-mono-font {
  font-family: "Kode Mono", "Courier New", "Lucida Console", monospace;
  font-optical-sizing: auto;
  color: black;
  /* 
font-weight: Use a value from 400 to 700
*/
  font-weight: 500;
  font-style: normal;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

/* General Styles */

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.502),
      hsla(0, 0%, 0%, 0.516)
    ),
    url(images/pexels-atlasworld-1674049.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Lora", "Helvetica Neue", "Arial", "Segoe UI", sans-serif;
  font-weight: 100;
}

h1 {
  margin: 0px;
}

button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  font-family: "Lato", "Helvetica Neue", "Arial", "Segoe UI", sans-serif;
  font-weight: 500;
  font-style: normal;
  transition: background-color 0.5s;
}

button:hover {
  background-color: rgb(167, 167, 167);
}

a {
  text-decoration: none;
  color: #61140a;
}

.hidden {
  display: none;
}
/* Sample Website */
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #800000;
  box-shadow: 5px 0px 10px #000000;
}
header h1 {
  margin-left: 200px;
}
#heading-title {
  color: white;
}
nav {
  margin-right: 200px;
}
ul {
  margin: 20px auto;
  display: flex;
  list-style: none;
  width: 400px;
}
li {
  margin: 0 auto;
}
li a {
  padding: 10px;
  border-radius: 10px;
  background-color: #dad4b5;
  transition: background-color 0.5s;
}
li a:hover {
  background-color: hsl(50, 15%, 50%);
}

article {
  margin: 100px 200px;
  height: 600px;
  background-size: cover;
  border-radius: 12px;
  border: #000000 2px solid;
  box-shadow: 2px 2px 25px rgb(0, 0, 0);
  transition: border 0.5s;
}
article:hover {
  border: #dad4b5 2px solid;
}
#relics {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("images/bust-5524961_1280.jpg");
}
#fashion {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("images/Vintage\ Sophistication.jpg");
}
#cycladic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("images/background-7275953_1280.jpg");
}
#ganesha {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("images/78a7b84c11ebf0c72f8ed03fd16387a6660eec7d-5120x1707.webp");
}
article h2 {
  font-size: 4em;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0px;
  color: #fff8e8;
}
article h3 {
  font-size: 3em;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0px;
  color: #aab396;
}
/* About Page */
.about-section {
  padding: 100px 200px;
}
.about-section p {
  padding: 20px;
  font-size: 2em;
}
.about-section h1 {
  font-size: 4em;
}
.about-section h2 {
  font-size: 3em;
}
/* Chatbot popup */
.chatbot-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#popup-close {
  width: 60px;
  height: 40px;
  border-radius: 12px;
  color: #61140a;
  background-color: #dad4b5;
}

#popup-close:hover {
  background-color: hsl(50, 15%, 70%);
}
#popup-open {
  width: 120px;
  height: 50px;
  color: #61140a;
  font-size: 16px;
  background-color: #dad4b5;
  position: fixed;
  bottom: 20px;
  border-radius: 12px;
  right: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#popup-open:hover {
  background-color: hsl(50, 15%, 70%);
}
.container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0e6cf;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

#chat-box {
  border: #800000 2px solid;
  padding: 10px;
  height: 300px;
  margin-top: 10px;
  background-color: #fff;
  overflow-y: scroll;
  border-radius: 6px;
  margin-bottom: 10px;
}
#chat-box div {
  font-family: "Lato", "Helvetica Neue", "Arial", "Segoe UI", sans-serif;
  font-weight: 500;
  color: black;
  font-style: normal;
  font-size: 1.15em;
}

/* Input Styles */

#chat-input {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
#chat-input input {
  border: #800000 2px solid;
  border-radius: 6px;
  width: 100%;
  font-family: "Lato", "Helvetica Neue", "Arial", "Segoe UI", sans-serif;
  font-weight: 500;
  font-style: normal;
}
#buttons {
  display: flex;
}
#buttons button {
  margin-left: 10px;
}
#text-input {
  padding: 10px;
}

.payment-container {
  margin-top: 20px;
  display: none;
}

#amount {
  width: calc(100% - 90px);
  padding: 10px;
  margin-right: 10px;
}

/* Floating Icon */
.floating-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #dad4b5;
  color: #61140a;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  width: 120px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.floating-button:hover {
  background-color: hsl(50, 15%, 70%);
}
